/*this applies to both home.html and fridge.html*/

/* the background, drawn by yours truly */
.home {
	margin: 0px;
	background-image: url(home-body.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.fridge {
	margin: 0px;
	background-image: url(fridge-body.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}


/* so i can add unique padding to each body of text later*/
p, a {
	padding: 0px;
	margin: 0px;
	color: black;
	text-decoration-color: transparent;
}


/* the filter for when everything needs to be EVIL */
#evil-filter {
	position: fixed;
	mix-blend-mode: color-burn;
}

#greyout {
	position: fixed;
	opacity: 50%;
	margin: 0px;
	top: 0;
}

b {
	color: red;
}

strong {
	color: goldenrod;
}

.main {
	min-height: 200px;
}

/* menu button */
.mainMenu, .mainMenu:disabled {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0;
	display: flex;
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid black;
	border-radius: 7px;
	background: goldenrod;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset sandybrown,
				0px -10px 1px inset sienna;
	img {
		margin: auto;
		width: 40px;
	}
}

.mainMenu:hover {
	cursor: pointer;
	background: goldenrod;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset yellow,
				0px -10px 1px inset sienna;
	img {
		filter: brightness(120%);
	}
}

.mainMenu:active {
	cursor: pointer;
	background: goldenrod;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset yellow,
				0px -10px 1px inset sienna,
				0px 0px 7px yellow;
	img {
		filter: brightness(120%);
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	position: fixed;
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	left: 20;
	right: 20;
}

/* the popup that appears when the menu button is pressed */
.windows {
	background: white;
	width: 700px;
	height: auto;
	margin: auto;
	border: 1px solid;
	padding-bottom: 20px;
	box-shadow: 0px 5px 20px black;
	font-family: cursive;
	display: grid;
	p {
		margin-left: 10px;
	}
}

#menuwindow {
	margin-bottom: 300px;
}

#finishwindow {
	margin-bottom: 50px
}

/* blue bar at the top of the popup containing the fake file name and close button */
.topbar {
	display: grid;
	width: auto;
	grid-template-columns: auto auto;
	height: 25px;
	padding-top: 0px;
	border-bottom: 1px solid black;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset skyblue,
				-.5px 0px 2px inset skyblue,
				0px .5px 2px inset skyblue,
				0px -.5px 2px inset skyblue,
				0px -10px 20px inset rgba(180, 255, 255, .7),
				0px 5px 10px darkgrey;
	background-image: linear-gradient(70deg, blue, royalblue, blue, dodgerblue, royalblue, dodgerblue);
}

/* fake file name on the topbar of the popups */
.file {
	color: white;
	font-family: cursive;
	font-size: 13px;
	margin-left: 7px;
	margin-top: 3px;
}

/* to close the popups */
.close {
	width: 50px;
	height: 25px;
	background: lightcoral;
	color: white;
	justify-self: right;
	font-size: 15px;
	font-family: cursive;
	border: transparent;
	border-left: 1px solid black;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset bisque,
				-.5px 0px 2px inset bisque,
				0px .5px 2px inset bisque,
				0px -.5px 2px inset bisque,
				0px -10px 15px inset sandybrown,
				0px -10px 1px inset crimson;
}

.close:hover {
	background: lightsalmon;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset bisque,
				-.5px 0px 2px inset bisque,
				0px .5px 2px inset bisque,
				0px -.5px 2px inset bisque,
				0px -10px 15px inset orange,
				0px -10px 10px inset yellow,
				0px -10px 1px inset crimson;
}

/* yes or cancel buttons in menu */
.commence {
	width: 100px;
	font-family: cursive;
	font-size: 15px;
	a {
		color: black;
		text-decoration-color: transparent;
	}
	background-color: gainsboro;
	border: 1px solid black;
	border-radius: 2px;
	margin-left: 5px;
	margin-top: 10px;
}

.commence:hover {
	background: darkgrey;
}

.menu-buttons {
	display: flex;
}

/* the golden buttons the give the player the illusion of choice */
.choices:hover {
	background: goldenrod;
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset yellow,
				0px -10px 1px inset sienna;
}

.choices:active {
	background: goldenrod;
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset yellow,
				0px -10px 1px inset sienna,
				0px 0px 7px white;
}

.choices, .choices:hover:disabled {
	text-decoration-color: transparent;
	background: goldenrod;
	cursor: default;
	width: auto;
	height: 30px;
	padding-bottom: 2px;
	display: grid;
	margin: auto;
	margin-bottom: 5px;
	border: 1px solid border;
	border-radius: 7px;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
	color: black;
	font-size: 15px;
	font-family: cursive;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lemonchiffon,
				-.5px 0px 2px inset lemonchiffon,
				0px .5px 2px inset lemonchiffon,
				0px -.5px 2px inset lemonchiffon,
				0px -10px 15px inset sandybrown,
				0px -10px 1px inset sienna;
}

.choices:disabled {
	opacity: 50%;
}


/* click to continue! */
.continue {
	width: 150px;
	height: 30px;
	margin-bottom: 5px;
	border: 1px solid border;
	border-radius: 7px;
	padding-bottom: 2px;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
	background: silver;
	color: black;
	font-size: 15px;
	font-family: cursive;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset lightgrey,
				-.5px 0px 2px inset lightgrey,
				0px .5px 2px inset lightgrey,
				0px -.5px 2px inset lightgrey,
				0px -10px 15px inset silver,
				0px -10px 1px inset darkslategrey;
}

.continue:hover {
	background: lightgrey;
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset white,
				-.5px 0px 2px inset white,
				0px .5px 2px inset white,
				0px -.5px 2px inset white,
				0px -10px 15px inset ghostwhite,
				0px -10px 1px inset darkslategrey;
}
.continue:active {
	background: lightgrey;
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset white,
				-.5px 0px 2px inset white,
				0px .5px 2px inset white,
				0px -.5px 2px inset white,
				0px -10px 15px inset ghostwhite,
				0px -10px 1px inset darkslategrey,
				0px 0px 7px white;
}


/* hides the current "click to continue" button so that the next one can appear */
.continue:disabled {
	display: none;
}

.special {
	color: lightcyan;
	background: cornflowerblue;
	width: auto;
	padding-bottom: 2px;
	height: 30px;
	display: grid;
	margin: auto;
	margin-bottom: 15px;
	border: 1px solid black;
	border-radius: 7px;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
	cursor: default;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset cyan,
				-.5px 0px 2px inset cyan,
				0px .5px 2px inset cyan,
				0px -.5px 2px inset cyan,
				0px -10px 15px inset dodgerblue,
				0px -10px 1px inset midnightblue;
}

.special:hover {
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset aquamarine,
				-.5px 0px 2px inset aquamarine,
				0px .5px 2px inset aquamarine,
				0px -.5px 2px inset aquamarine,
				0px -10px 15px inset cyan,
				0px -10px 1px inset midnightblue;
}

.special:active {
	cursor: pointer;
	box-shadow: .5px 0px inset white,
				-.5px 0px inset white,
				0px .5px inset white,
				0px -.5px inset white,
				.5px 0px 2px inset aquamarine,
				-.5px 0px 2px inset aquamarine,
				0px .5px 2px inset aquamarine,
				0px -.5px 2px inset aquamarine,
				0px -10px 15px inset cyan,
				0px -10px 1px inset midnightblue,
				0px 0px 7px white;
}

.textbox {
	color: black;
	background: rgba(255, 255, 255, 0.7);
	border: 3px solid black;
	border-radius: 7px;
	padding: 15px;
	font-family: cursive;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100px;
	width: 700px;
	margin: auto;
	box-shadow: 2px 0px inset white,
				-2px 0px inset white,
				0px 2px inset white,
				0px -2px inset white,
				1px 0px 2px inset white,
				-1px 0px 2px inset white,
				0px 1px 2px inset white,
				0px -1px 2px inset white,
				0px -30px 40px inset rgba(255, 255, 255, 0.5),
				0px -50px 1px inset rgba(50, 50, 50, 0.4);
}
